@tailwind base;
@tailwind components;
@tailwind utilities;


.menu::after{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background-color: #ec4899;
  left: 0;
  bottom: 0;
  scale: 0;
  transition: all 0.5s;
}
.menu:hover::after{
  scale: 1;
}


.scheduled{
  @apply border border-blue-500 py-0.5 px-2 rounded-full bg-blue-50 text-blue-500
}

.active{
  @apply border border-green-500 py-0.5 px-2 rounded-full bg-green-50 text-green-500
}

.draft{
  @apply border border-orange-500 py-0.5 px-2 rounded-full bg-orange-50 text-orange-500
}


